.u-empty[data-v-4c08e305], .u-empty__wrap[data-v-4c08e305], .u-tabs[data-v-4c08e305], .u-tabs__wrapper[data-v-4c08e305], .u-tabs__wrapper__scroll-view-wrapper[data-v-4c08e305], .u-tabs__wrapper__scroll-view[data-v-4c08e305], .u-tabs__wrapper__nav[data-v-4c08e305], .u-tabs__wrapper__nav__line[data-v-4c08e305] {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    align-items: stretch;
    align-content: flex-start
}

.u-swiper-indicator__wrapper[data-v-4c08e305] {
    display: flex;
    flex-direction: row
}

.u-swiper-indicator__wrapper--line[data-v-4c08e305] {
    border-radius: 100px;
    height: 4px
}

.u-swiper-indicator__wrapper--line__bar[data-v-4c08e305] {
    width: 22px;
    height: 4px;
    border-radius: 100px;
    background-color: #fff;
    transition: transform .3s
}

.u-swiper-indicator__wrapper__dot[data-v-4c08e305] {
    width: 5px;
    height: 5px;
    border-radius: 100px;
    margin: 0 4px
}

.u-swiper-indicator__wrapper__dot--active[data-v-4c08e305] {
    width: 12px
}

.u-empty[data-v-5fab5a7f], .u-empty__wrap[data-v-5fab5a7f], .u-tabs[data-v-5fab5a7f], .u-tabs__wrapper[data-v-5fab5a7f], .u-tabs__wrapper__scroll-view-wrapper[data-v-5fab5a7f], .u-tabs__wrapper__scroll-view[data-v-5fab5a7f], .u-tabs__wrapper__nav[data-v-5fab5a7f], .u-tabs__wrapper__nav__line[data-v-5fab5a7f] {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    align-items: stretch;
    align-content: flex-start
}

.u-swiper__wrapper[data-v-5fab5a7f] {
    flex: 1
}

.u-swiper[data-v-5fab5a7f] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden
}

.u-swiper__wrapper[data-v-5fab5a7f], .u-swiper__wrapper__item[data-v-5fab5a7f] {
    flex: 1
}

.u-swiper__wrapper__item__wrapper[data-v-5fab5a7f] {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    transition: transform .3s;
    flex: 1
}

.u-swiper__wrapper__item__wrapper__image[data-v-5fab5a7f], .u-swiper__wrapper__item__wrapper__video[data-v-5fab5a7f] {
    flex: 1
}

.u-swiper__wrapper__item__wrapper__title[data-v-5fab5a7f] {
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .875rem;
    padding: .375rem .75rem;
    color: #fff;
    flex: 1
}

.u-swiper__indicator[data-v-5fab5a7f] {
    position: absolute;
    bottom: 10px
}

.Popups-popup[data-v-8d936b5c] {
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    background: #fff;
    padding: .9375rem .9375rem 9.375rem;
    height: 18.75rem;
    overflow-y: auto
}

.Popups-popup_item[data-v-8d936b5c] {
    display: flex;
    align-items: center;
    height: 2.5rem
}

.Popups-popup_item[data-v-8d936b5c]:nth-child(2) {
    margin-top: 1.25rem
}

.Popups-popup_item__label[data-v-8d936b5c] {
    width: 7.5rem;
    font-size: .875rem;
    color: #999
}

.Popups-popup_item__value[data-v-8d936b5c] {
    flex: 1;
    font-size: .875rem;
    color: #333
}

.Popups-popup_title[data-v-8d936b5c] {
    font-size: 1.125rem;
    font-weight: 700
}

.Popups-popup_subtitle[data-v-8d936b5c] {
    font-size: .9375rem;
    font-weight: 700;
    margin-top: .9375rem
}

.Popups-popup_desc[data-v-8d936b5c] {
    font-size: .75rem;
    color: #999;
    margin-top: .3125rem
}

.Pay[data-v-7e0b146c] {
    flex: 1
}

.Pay-btn[data-v-7e0b146c] {
    height: 2.5rem;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5625rem;
    color: #fff;
    line-height: 1
}

.Pay-popup[data-v-7e0b146c] {
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    background: #f8f8f8;
    padding: .9375rem .9375rem 9.375rem;
    height: 18.75rem
}

.Pay-popup_goods[data-v-7e0b146c] {
    display: flex;
    align-items: center
}

.Pay-popup_goods__image[data-v-7e0b146c] {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .3125rem
}

.Pay-popup_goods__text[data-v-7e0b146c] {
    margin-left: .3125rem
}

.Pay-popup_goods__price[data-v-7e0b146c] {
    font-size: 1rem;
    font-weight: 700;
    color: red
}

.Pay-popup_goods__prompt[data-v-7e0b146c] {
    font-size: .75rem;
    color: #999
}

.Pay-popup_main[data-v-7e0b146c] {
    height: 20.9375rem;
    overflow-y: auto;
    margin-top: .625rem
}

.Pay-popup_styles[data-v-7e0b146c] {
    margin-top: .9375rem;
    background: #fff;
    padding: .625rem;
    border-radius: .625rem
}

.Pay-popup_styles__title[data-v-7e0b146c] {
    font-size: .875rem;
    font-weight: 700
}

.Pay-popup_styles__content[data-v-7e0b146c] {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .625rem
}

.Pay-popup_styles__item[data-v-7e0b146c] {
    width: 10rem;
    display: flex;
    align-items: center;
    height: 2.5rem;
    background: #eee;
    border-radius: .3125rem;
    margin-bottom: .3125rem;
    padding: 0 .625rem;
    box-sizing: border-box
}

.Pay-popup_styles__image[data-v-7e0b146c] {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .3125rem
}

.Pay-popup_styles__name[data-v-7e0b146c] {
    font-size: .625rem;
    margin-left: .625rem
}

.Pay-popup_styles__active[data-v-7e0b146c] {
    background: red;
    color: #fff
}

.Pay-popup_btn[data-v-7e0b146c] {
    width: 100%;
    height: 2.5rem;
    background: red;
    border-radius: .3125rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .625rem
}

uni-page-body {
    background-color: #f7f7f7
}

body {
    background-color: #f7f7f7
}

.details {
    padding-bottom: 3.75rem
}

.details-main {
    background: linear-gradient(to bottom, #fff 85%, rgba(255, 255, 255, 0));
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    padding: .9375rem
}

.details-main_price {
    display: flex;
    align-items: flex-end;
    line-height: 1
}

.details-main_price__normal {
    font-size: 1.625rem;
    font-weight: 700;
    color: red
}

.details-main_price__deleted {
    font-size: .875rem;
    color: #666;
    text-decoration: line-through;
    margin-left: .15625rem
}

.details-main_price__sold {
    font-size: .875rem;
    color: #666;
    margin-left: auto
}

.details-main_name {
    font-size: 1rem;
    font-weight: 700;
    margin-top: .9375rem
}

.details-main_card {
    background: #fff;
    border-radius: .5rem
}

.details-main_other {
    padding: 0 .9375rem .9375rem
}

.details-main_other__item {
    height: 3.125rem;
    padding: 0 .9375rem;
    display: flex;
    align-items: center
}

.details-main_other__image {
    width: 1.25rem;
    height: 1.25rem
}

.details-main_other__more {
    width: .75rem;
    height: .75rem
}

.details-main_other__title {
    font-size: .875rem;
    margin-left: .625rem;
    margin-right: .3125rem;
    flex: 1
}

.details-main_evaluate {
    padding: 0 .9375rem .625rem
}

.details-main_evaluate__title {
    font-size: 1rem;
    font-weight: 700
}

.details-main_evaluate__more {
    font-size: .8125rem;
    float: right;
    color: #666;
    font-weight: 500
}

.details-main_evaluate__item {
    width: 100%;
    margin: 1px 1px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 30%);
}

.details-main_evaluate__left {
    flex: 1;
    margin-right: .625rem
}

.details-main_evaluate__right {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: .625rem;
    overflow: hidden;
    position: relative
}

.details-main_evaluate__imgs {
    width: 3.125rem;
    height: 3.125rem
}

.details-main_evaluate__imgsNum {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    font-size: .625rem;
    color: #fff;
    padding: .25rem;
    border-top-left-radius: .625rem
}

.details-main_evaluate__top {
    display: flex;
    align-items: center
}

.details-main_evaluate__image {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%
}

.details-main_evaluate__name {
    font-size: .75rem;
    color: #999;
    margin-left: .3125rem;
    line-height: 1
}

.details-main_evaluate__bottom {
    font-size: .6rem;
    line-height: 1.5;
    margin-top: .3125rem
}

.details-main_evaluate .details-main_card {
    padding: .9375rem
}

.details-main_details {
    margin-top: .9375rem;
    text-align: center
}

.details-main_details__title {
    color: #999;
    margin-bottom: .9375rem
}

.details-main_details__content {
    margin-top: .9375rem;
    margin-bottom: .9375rem
}

.details-main_details__content uni-image {
    width: 100%;
    aspect-ratio: 2
}

.details-shop {
    padding: 0 .9375rem .625rem
}

.details-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 .625rem;
    height: 3.75rem;
    background: #fff;
    box-sizing: border-box
}

.details-nav_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.125rem
}

.details-nav_item__icon {
    width: 1.25rem;
    height: 1.25rem
}

.details-nav_item__name {
    font-size: .75rem
}

.details_label {
    font-size: .55rem;
    collapse: #000000;
}

.viewpopups-popup {
    margin-top: .9375rem;
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    background: #fff;
    padding: .625rem .3125rem 1.875rem;
    min-height: .3125rem;
    overflow-y: auto
}

.viewpopups-popup_item {
    display: flex;
    align-items: center;
    height: 2.5rem
}

.viewpopups-popup_item:nth-child(2) {
    margin-top: .03125rem
}

.viewpopups-popup_item__label {
    width: 6.25rem;
    font-size: .625rem;
    color: #999
}

.viewpopups-popup_item__value {
    flex: 1;
    font-size: .625rem;
    color: #333;
    text-align: left
}

.viewpopups-popup_title {
    font-size: 1.125rem;
    font-weight: 700
}

.viewpopups-popup_subtitle {
    font-size: .9375rem;
    font-weight: 700;
    margin-top: .9375rem
}

.viewpopups-popup_desc {
    font-size: .75rem;
    color: #999;
    margin-top: .3125rem
}
