.Tags {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: .3125rem
}

.Tags-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .625rem;
    border-radius: .25rem;
    height: .875rem;
    line-height: 1;
    padding: 0 .3125rem;
    margin-right: .25rem;
    font-weight: 600
}